<% include partials/header %>

<div class="container">
    <h1>About us</h1>
    <p> <span>Đại học Bách Khoa - Đại học quốc gia TP HCM        </span></p>
    <p><b> Lê Trung Kiên </b></p>
    <p><b> Nguyễn Hoài Quốc Trung </b></p>
    <p><b> Phạm Thị Ngọc Mỹ </b></p>

</div>

<% include partials/footer %>
